nav {
    height: 60px;
}

.inputBusca {
    width: 635px;
}

.container {
    width: 60%;
    text-align: center;
}

.conteiner-perfil {
    width: 90%;
    margin: auto;
}

.conteiner-perfil-telas {
    width: 90%;
}