.conteiner-perfil {
    width: 87%;
    margin: auto;
}

nav {
    height: 70px;
}

img.foto-usuario {
    border-radius: 500px;
    border-radius: 500px;
    width: 80px;
    height: 80px;
}

.inputBusca {
    width: 700px;
    background: #F4F4F4;
}

.container {
    width: 60%;
    text-align: center;
}

.conteiner-perfil-telas {
    width: 90%;
}

h1.letras-pretas {
    font-size: 45px;
}

.letras-pretas {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 25px;
}

.letra-negrito {
    font-weight: bold;
}

.texto-conteiner {
    width: 70%;
    margin: auto;
}