body {
    font-family: 'Poppins';
}

.conteiner-perfil {
    width: 87%;
    margin: auto;
}

nav {
    height: 70px;
}

img.foto-usuario {
    border-radius: 500px;
    border-radius: 500px;
    width: 80px;
    height: 80px;
}

.inputBusca {
    width: 700px;
    background: #F4F4F4;
}

.container {
    width: 60%;
    text-align: center;
}

h1 {
    font-size: 45px;
    font-family: 'Poppins';
}

.letras-pretas {
    color: black;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.letra-negrito {
    font-weight: bold;
}

.texto-conteiner {
    width: 70%;
    margin: auto;
}

.imagem-pesquisa {
    background-image: url(../imagens/magnifying-glass.png);
    background-repeat: no-repeat;
}

.container-vagas {
    background: #EDEDED;
    width: 300px;
    height: 375px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

#telas{
 padding: 70px;
}