@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-family: 'Poppins';
}

#opcoesHeader {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
}

.nav-link {
    color: #3A3A49;
    font-size: 20px;
}

#primeiraDiv {
    display: flex;
    padding: 45px;
    font-family: 'Poppins';
}

#primeiroTexto {
    width: 50%;
    padding: 10%
}

.botaoRosa {
    background-color: #E85A71;
    border-color: #E85A71;
    color: #FFFFFF;
    font-family: 'Poppins';
    border-radius: 30px;
    padding: 10px;
    width: 185px;
    height: 50px;
}

.botaoRosa:hover {
    background: #CF3B53;
    color: white;
}

.botaoBrancoRosa {
    background-color: #FFFFFF;
    border-color: #E85A71;
    color: #E85A71;
    font-family: 'Poppins';
    border-radius: 30px;
    padding: 10px;
    width: 185px;
    height: 50px;
}

.botaoBrancoRosa:hover {
    color: #CF3B53;
    background-color: white;
}

.botaoBrancoAzul {
    background-color: #FFFFFF;
    border-color: #4EA1D3;
    color: #4EA1D3;
    font-family: 'Poppins';
    border-radius: 30px;
    padding: 10px;
    width: 185px;
    height: 50px;
}

.botaoBrancoAzul:hover {
    color: #3C8BBA;
    background-color: white;
}

#segundaDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    font-family: 'Poppins';
}

#imagensSegundaDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 100px 20px 100px;
}

.imagensSec {
    margin: 20px;
}

#terceiraDiv {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

#terceiraImagem {
    background-image: url("../imagens/Rectangle.png");
    width: 60%;
    justify-content: left;
}

#terceiraCor {
    background-color: #4EA1D3;
    width: 100%;
    margin-left: 100px;
    color: white;
    padding: 20px;
    padding-top: 100px;
    font-family: 'Poppins'
}

#terceiroBotao {
    margin-left: 115px;
}

#quartaDiv {
    margin-top: 45px;
    text-align: center;
}

#quartaLista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#quartoTexto {
    display: flex;
    margin: 5% 10% 5% 10%;
    align-items: center;
}

.quartoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista4 {
    width: 295px;
}

.num {
    background-color: #4EA1D3;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

#quintaDiv {
    padding: 45px;
    font-family: 'Poppins';
}

#depoimentos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
    text-align: center;
}

.depo {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    align-items: center;
    padding: 0px;
    width: 30%;
}

footer {
    background-color: #3A3A49;
    color: white;
    bottom: 0;
    width: 100%;
}

#colunaFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

#copyrights {
    display: flex;
    justify-content: center;
    font-size: smaller;
}

.infoFooter {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

#redesSociais {
    margin-left: 25px;
}

.rede {
    margin: auto;
    padding: 0px;
}

#icones {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ancorasMockadas {
    color: #FFFFFF;
    text-decoration: none;
}